<body id="default" data-spy="scroll" data-target=".navbar" data-offset="60">
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" routerLink="/default">WOODY</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink='/login' *ngIf="userService.user==null"><span class="glyphicon glyphicon-log-in"></span>SIGNUP/LOGIN</a></li>
          <li><a routerLink='/home' *ngIf="userService.user"><span class="glyphicon glyphicon-home"></span>HOME</a></li>
          <li><a routerLink='/search-plans' *ngIf="userService.user"><span class="glyphicon glyphicon-file"></span>PLANS</a></li>
          <li><a routerLink='/search-tool' *ngIf="userService.user"><span class="	glyphicon glyphicon-wrench"></span>TOOLS</a></li>
          <li><a routerLink='/search-items' *ngIf="userService.user"><span class="glyphicon glyphicon-search"></span>ITEMS</a></li>
          <li><a routerLink='/cart' *ngIf="userService.user"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          <li><a href='/default' *ngIf="userService.user"><span class="glyphicon glyphicon-log-in"></span>LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <footer class="container-fluid text-center">
    <a href="#default" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Created by Nick Kopjas © 2017</p>
  </footer>
</body>