<div class="col-md-6 col-md-offset-3">
    <br><br><br><h1>MEMBER REGISTRATION</h1>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel"/>
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel"/>
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
            <label for="userName">Username</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" #userName="ngModel"/>
            <div *ngIf="f.submitted && !userName.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !retypePassword.valid }">
            <label for="retypePassword">Retype Password</label>
            <input type="password" class="form-control" name="retypePassword" [(ngModel)]="user.retypePassword" #retypePassword="ngModel"/>
            <div *ngIf="f.submitted && !retypePassword.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel"/>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !streetAddress.valid }">
            <label for="streetAddress">Street Address</label>
            <input type="text" class="form-control" name="streetAddress" [(ngModel)]="user.streetAddress" #streetAddress="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="user.city" #city="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !state.valid }">
            <label for="state">State</label>
            <input type="text" class="form-control" name="state" [(ngModel)]="user.state" #state="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zipCode.valid }">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" [(ngModel)]="user.zipCode" #zipCode="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phoneNumber.valid }">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" name="phoneNumber" [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !birthday.valid }">
            <label for="birthday">Date of Birth</label>
            <input type="date" class="form-control" name="birthday" [(ngModel)]="user.birthday" #birthday="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !avatar.valid }">
            <label for="avatar">Avatar/Image</label>
            <input type="file" #fileInput placeholder="Upload file..." /><br><br>
            <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>