<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3">
      <div class="container text-center">
        <!-- <div class="images" *ngIf="userService.user.avatar">-->
          <img src="{{userService.user.avatar}}" style="width:200px; height:200px" alt="Random Name">
<!--        </div>-->
        <br><button type="button" style="background-color: #C36241; color:rgb(255, 255, 255)" routerLink='/profile'>EDIT PROFILE</button>
        <br><button type="button" style="background-color: #C36241; color:rgb(255, 255, 255)" routerLink='/upload-item'>UPLOAD ITEM</button>
        <br><button type="button" style="background-color: #C36241; color:rgb(255, 255, 255)" routerLink='/upload-plan'>UPLOAD PLAN</button>
        <br><button type="button" style="background-color: #C36241; color:rgb(255, 255, 255)" routerLink='/upload-tool'>UPLOAD TOOLS</button>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="container text-center" *ngIf="userService.user"> 
        <h1>Hello, {{userService.user.userName}}</h1>      
        <p>• {{userService.user.city}}, {{userService.user.state}} •
          <br>• EMAIL: {{userService.user.email}} •
          <br>• PHONE: {{userService.user.phoneNumber}} •</p>
      </div>
    </div>
  </div>
</div>